puppet.conf
.config-version
hiera.yaml
modules/nagios/files/dsa-nagios
modules/exim/files/certs/
modules/ssl/files/clientcerts
modules/dacs/files/private
modules/hiera-puppet
modules/puppetmaster/manifests/db.pp
modules/exim/files/email-virtualdomains/
modules/roles/manifests/pubsub/params.pp
*.swp
*~
/secret
/*.dpkg-dist
