<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
<HEAD>
   <TITLE>Welcome to <%= hostname %>!</TITLE>
</HEAD>
<BODY>

<H1>Welcome to <%= hostname %>!</H1>

This is <%= hostname %>, a system run by and for the <a href="https://www.debian.org/">Debian Project</a>.
She does stuff.
What kind of stuff and who our kind sponsors are you might learn on
<a href="https://db.debian.org/machines.cgi?host=<%= hostname %>">db.debian.org</a>.
<% if hostname == "saens" -%>
<p>
This host used to be ftp.debian.org (just another
mirror, not the master site - that is ftp-master.debian.org) a long
time ago.
<p>
As of May 2009 it is part of <a href="http://security.debian.org/">security(.us).debian.org</a>,
serving the security archive.
<p>
For a list of mirrors of the main debian archive please visit the
Debian website at <a href="https://www.debian.org/mirror/list">http://www.debian.org/mirror/list</a>.
<% end -%>

<P>
<HR NOSHADE />
<FONT size="-1">DSA</FONT>

</BODY>
</HTML>
