<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
<HEAD>
   <TITLE>Welcome to <%= syncproxy_name %>!</TITLE>
</HEAD>
<BODY>

<H1>Welcome to <%= syncproxy_name %>!</H1>

This is <%= syncproxy_name %>, a syncproxy run by and for the <a
href="https://www.debian.org/">Debian Project</a> to aid in mirroring
our software.  Consult <a href="https://www.debian.org/mirror/">the
mirrors section of the Debian website</a> for more information.

<p>
This syncproxy contains copies of the following archives.

<ul>
<%=
lines = []
%w{debian debian-debug debian-ports debian-security}.each do |archive|
  varname = 'has_srv_mirrors_' + archive.gsub(/[\/-]/,'_')
  if has_variable?(varname) and (eval(varname)) == 'true'
    lines << "<li>#{archive} [<a href=\"/#{archive}/project/trace/\">trace directory</a>]</li>"
  end
end
lines.join("\n")
%>
</ul>


<p>
Please contact the Debian mirrors team for rsync access if your
mirror should become a push primary mirror (see the documenation).

<P>
<HR NOSHADE />
<FONT size="-1">Debian mirrors team</FONT>

</BODY>
</HTML>
