,{rabbitmq_management,
	[{listener, [
		{port,     15672},
		{ssl,      true},
		{ssl_options, [
			{cacertfile,"/etc/ssl/debian/certs/ca.crt"},
			{certfile,"/etc/ssl/debian/certs/thishost-server.crt"},
			{keyfile,"/etc/ssl/debian/keys/thishost-server.key"},
			{verify,verify_none},
			{fail_if_no_peer_cert,false}]}
	]}
]}
