--- 

# TODO: if we ever want to forward more than one port between two hosts then
# we will have to come up with a wrapper script that picks the right target
# port on the remote instead of just encoding it in authkeys.

# from host:port to host:port
#danzi.debian.org:
#  # snapshot postgresql streaming replication.  sibelius is the master, danzi the slave.
#  - source_bind_port: 15433
#    target_host: sibelius.debian.org
#    target_port: 5433
#    ssh_options: -oAddressFamily=inet

