--- 

# TODO: if we ever want to forward more than one port between two hosts then
# we will have to come up with a wrapper script that picks the right target
# port on the remote instead of just encoding it in authkeys.

# from host:port to host:port
master.debian.org:
  - source_bind_port: 5441
    target_host: samosa.debian.org
    target_port: 5441

merkel.debian.org:
  - source_bind_port: 5441
    target_host: samosa.debian.org
    target_port: 5441

samosa.debian.org:
  - source_bind_port: 5433
    target_host: grieg.debian.org
    target_port: 5433

paganini.debian.org:
  - source_bind_port: 5441
    target_host: samosa.debian.org
    target_port: 5441

quantz.debian.org:
  # qa->projectb mirror
  - source_bind_port: 5433
    target_host: merkel.debian.org
    target_port: 5433
  # qa->udd
  - source_bind_port: 5441
    target_host: samosa.debian.org
    target_port: 5441

nono.debian.org:
  # nm->projectb mirror
  - source_bind_port: 5433
    target_host: merkel.debian.org
    target_port: 5433
