[Unit]
Description=Userdir-Ldap Replication Daemon
Wants=syslog.service

[Service]
ExecStart=/usr/bin/ud-replicated -d
Restart=always

[Install]
WantedBy=multi-user.target
